@page
@model SynopticForecastWebsite2.Pages.VerificationsModel
@{
    ViewData["Title"] = "Verifications";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section Styles
{
    <style type="text/css">
    </style>
}

<h1>Verification Forecasts</h1>

<table class="table table-bordered">
    <tr>
        <th>Forecast City (Code)</th>
        <th>Forecast Period Start</th>
        <th colspan="5">Verification Forecast (Quick Look)</th>
    </tr>
    @foreach (var period in Model.ForecastPeriods)
    {
        Model.CurrentVerified = Model.AllVerified.Where(x => x.ForecastPeriodID == period.ForecastPeriodID).ToList();
        
        <tr>
            <td>@period.City (@period.CityID)</td>
            <td>@period.StartingTimeUTC</td>
            @foreach (var veriCast in Model.CurrentVerified)
            {
                <td>
                    <table class="table table-borderless">
                    <tr>
                        <th>Hour</th>
                        <th>Surf. Temp.</th>
                        <th>Surf. Dewp.</th>
                        <th>SLP</th>
                    </tr>
                    <tr>
                        <td>@veriCast.ForecastTime</td>
                        <td>@veriCast.SurfaceTemperature</td>
                        <td>@veriCast.SurfaceDewpoint</td>
                        <td>@veriCast.SeaLevelPressure</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <form method="post">
                                <a class="btn btn-success" asp-page="VerificationsEdit" asp-route-VFid="@veriCast.VerifiedForecastID">Edit</a>
                            </form>
                        </td>
                    </tr>
                    </table>
                </td>
             }
        </tr>
    }
</table>

